<!--<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->


<div class="main-wrapper">
  <div class="app">
    <div *ngIf="isAutoriz; else loggedOut">
      <app-header></app-header>
      <app-sidebar></app-sidebar>
      <article class="content dashboard-page">
        <router-outlet></router-outlet>
      </article>
    </div>
  </div>

  <ng-template #loggedOut>
    <div style="width: 43%;margin-top: 9%; margin-left: 14%;">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>
