<div class="example-wrapper" style="margin-top: -44px;">
  <kendo-dropdownbutton [data]="data" [popupSettings]="{popupClass: popupClass, animate: true}">
    <button class="btn btn-success btn-sm">Добавить данные</button>
  </kendo-dropdownbutton>
</div>
<div>
  <kendo-grid [kendoGridGroupBinding]="gridData" #grid
              [height]="410"
              [loading]="loading"
              [skip]="state.skip"
              [sort]="state.sort"
              [filter]="grid.filter"
              [sortable]="true"
              [filterable]="true">
    <kendo-grid-column field="ProfitType" title="Операция" width="120">
      {{ProfitType}}
    </kendo-grid-column>
    <kendo-grid-column field="CategoryDescription" title="Категория" width="250">
      <ng-template kendoGridCellTemplate let-dataItem style="align-items: center;">
        {{dataItem.CategoryDescription}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="CategoryDateCreate" title="Дата" width="120">
      {{CategoryDateCreate}}
    </kendo-grid-column>
    <kendo-grid-column field="Summa" title="Сумма" width="120">
      {{Summa}}
    </kendo-grid-column>
    <kendo-grid-column field="ApplicationUser" title="Добавил" width="250">
      {{ApplicationUser}}
    </kendo-grid-column>
    <kendo-grid-column field="Description" title="Описание">
      {{Description}}
    </kendo-grid-column>

  </kendo-grid>
</div>
<main-form-add-edit *ngIf="openModalWindowCategory"
                    [isNew]="isNew"
                    [model]="model"
                    [status]="status"
                    (save)="saveCategory($event)"
                    (cancel)="cancel($event)">
</main-form-add-edit>

<!--<kendo-grid
  [data]="view | async"
  [loading]="view.loading"
  [pageSize]="state.take"
  [skip]="state.skip"
  [sort]="state.sort"
  [sortable]="true"
  [pageable]="true"
  [scrollable]="'none'"
  (dataStateChange)="dataStateChange($event)"
>
  <kendo-grid-column field="CategoryID" width="130"></kendo-grid-column>
  <kendo-grid-column field="CategoryName" width="200"></kendo-grid-column>
  <kendo-grid-column field="Description" [sortable]="false">
  </kendo-grid-column>
</kendo-grid>-->
