<div class="example-wrapper" style="margin-top: -44px;">
  <kendo-dropdownbutton [data]="data"  [popupSettings]="{popupClass: popupClass, animate: true}">
    <button class="btn btn-success btn-sm">Добавить данные</button>  
  </kendo-dropdownbutton>
</div>
<div>
  <kendo-grid [data]="gridData"
              [height]="410"
              [loading]="true">
    <kendo-grid-column field="Name" title="Name" width="250">
      {{Name}}
    </kendo-grid-column>
    <kendo-grid-column field="Cat" title="Category" width="250">
      {{Cat}}
    </kendo-grid-column>

  </kendo-grid>
</div>
<main-form-add-edit [isNew]="isNew"
                    [model]="model"
                    [status]="status"
                    (cancel)="cancel($event)">
</main-form-add-edit>

<!--<kendo-grid
  [data]="view | async"
  [loading]="view.loading"
  [pageSize]="state.take"
  [skip]="state.skip"
  [sort]="state.sort"
  [sortable]="true"
  [pageable]="true"
  [scrollable]="'none'"
  (dataStateChange)="dataStateChange($event)"
>
  <kendo-grid-column field="CategoryID" width="130"></kendo-grid-column>
  <kendo-grid-column field="CategoryName" width="200"></kendo-grid-column>
  <kendo-grid-column field="Description" [sortable]="false">
  </kendo-grid-column>
</kendo-grid>-->
